@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
html,
body {
	width: 100%;
	overflow-x: hidden; /*förhindrar sidoscroll i mobilvy*/
}

/* COLORS */

:root {
	--dark-green: #009966;
	--medium-green: #88dc84;
	--light-green: #d4fff3;
	--gradient-green1: #009966cc;
	--gradient-green2: #009688;
	--footer-blue: #101828;
	--text-black: #000;
	--text-white: #fff;
	--text-grey: #393939;
	--grey: #eaeaea; /* Valde en ljusare grå pga kontrastvarning i Wave */
	--button-grey: #cbcbcb;
	--accent-purple: #9810fa;
	--accent-yellow: #ffcc00;
	--white: #fff;
	--black: #000;
}

/* COLOR UTILITY CLASSES */
.bg-footer-blue {
	background-color: var(--footer-blue);
}

/* TEXT SETTINGS */
p,
span {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
}
a {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--text-black);
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.25rem;
	text-align: center;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.75rem;
}
nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	list-style-type: none;
}

.main__intro-text {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: 1px;
	padding: 3rem 5rem 0rem 5rem;
}

.form__label {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

/* LINK/BUTTON EFFECTS */

button:hover,
a:hover {
	transform: scale(1.02);
	transition: transform 0.1s ease-in-out;
}

button:active,
a:active {
	transform: scale(1);
}

button {
	display: inline-block;
	border: none;
	background-color: var(--dark-green);
	color: var(--text-white);
	font-weight: 600;
	font-size: 1.5rem;
	border-radius: 10px;
	padding: 1.2rem 1rem;
	align-self: flex-start;
}

/* ARROW ANIMATION */
@keyframes move {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(-5px);
	}
}

/* ----------------------------------------------------------------*/
/* -------------------------- index.html --------------------------*/
/* ----------------------------------------------------------------*/

/* --------------------------- HEADER -----------------------------*/
.header {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 6.5rem;

	.header__logo {
		width: 20rem;
		padding: 2rem 0rem;
	}
}

.header__link {
	color: var(--text-black);
	padding: 2.5rem;
}

.header__burger-checkbox,
.header__burger-btn {
	display: none;
}

/* --------------------------- HERO -----------------------------*/
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--black);

	.hero__img {
		width: 100%;
		height: 100%;
		opacity: 40%;
	}

	.hero__content {
		display: flex;
		flex-direction: column;
		max-width: 100vw;
		color: var(--text-white);
		position: absolute;
		gap: 2rem;

		.hero__links {
			justify-content: space-between;
			.hero__link-item {
				margin: 0.5rem;
			}
		}
	}
	.hero__arrow-down {
		display: none;
	}
}

/* --------------------------- MAIN -----------------------------*/
.main {
	text-align: center;
	padding: 4rem 6.5rem 5.5rem 6.5rem;

	.main__title {
		padding-top: 2rem;
	}

	.main__sub-title {
		color: var(--text-white);
		padding: 2rem 6.5rem 3rem 6.5rem;
	}

	/* --------------------------- USP CARDS -----------------------------*/
	.usp-card {
		display: flex;
		gap: 1rem;
		margin-top: 4rem;

		.usp-card__item {
			background-color: var(--white);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 2px solid var(--grey); /* valde grå istället för svart */
			border-radius: 1.5rem;
			padding: 1rem 1rem 2.5rem 1rem;
			text-align: left;
			gap: 2rem;

			.usp-card__icon {
				width: 64px;
				aspect-ratio: 1;
				background-color: var(--medium-green);
				border-radius: 50%;
				padding: 1rem;
			}
			.usp-card__title {
				margin-top: 0.5rem;
			}
			.usp-card__sub-title {
				text-align: center;
			}
		}
	}
}

/* --------------------------- MAIN - ARTICLE -----------------------------*/
.main-article {
	display: flex;
	padding: 6.5rem;

	.main-article__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 5rem;
	}

	.main-article__text {
		line-height: 2rem;
		letter-spacing: 1px;
	}

	.main-article__img {
		width: 50%;
		object-fit: cover;
		aspect-ratio: 1;
		border-radius: 1.5rem;
	}
}

/* --------------------------------  FOOTER  ------------------------  */
.footer {
	color: var(--text-white);
	padding: 5rem 6.5rem 10rem 6.5rem;

	.footer__top {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		.contact {
			padding-right: 1rem;
		}

		p,
		li {
			font-size: 1rem;
			text-decoration: none;
		}
		.footer__left {
			grid-column: span 2;

			.footer__payoff {
				padding-top: 1.5rem;
				padding-right: 5rem;
			}
		}
		.footer__logo {
			width: 166px;
		}

		.contact__title,
		.links__title {
			padding-top: 3rem;
			padding-bottom: 2rem;
		}
		.contact__item,
		.links__item {
			font-family: "Inter", sans-serif;
			font-weight: 400;
			text-decoration: none;
			list-style-type: none;
			line-height: 2rem;
		}
		.links__item {
			cursor: pointer;
		}
	}

	.footer__line {
		border: 1px solid var(--white);
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.footer__copywright {
		text-align: center;
		font-size: 1.5rem;
	}
}

/* ------------------------------------------------------------------*/
/* -------------------------- booking.html --------------------------*/
/* ------------------------------------------------------------------*/

/* ---------------------------- PAGE TOP ----------------------------*/
.page-top {
	text-align: center;
	box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);

	.page-top__title {
		padding: 4rem 0rem 1.5rem 0rem;
	}
	.page-top__sub-title {
		padding-bottom: 2rem;
	}
}

/* -------------------------- BOOKING FORM --------------------------*/
.form {
	padding: 4rem 2rem 3rem 2rem;
	margin: 4rem 6.5rem 4rem 6.5rem;
	background-color: var(--white);
	border-radius: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	box-shadow: 0px 10px 10px 0px #00000040;

	.form__label {
		padding: 0 0 1rem 0;
	}

	.form__input {
		margin-top: 0.8rem;
		padding: 1rem;
		font-size: 1rem;
		border: 1px solid black;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
	}

	.form__button {
		padding: 1rem 4rem;
		align-self: flex-end;
	}
}

/* -------------------------- ROOM CARDS --------------------------*/
.roomcards {
	padding: 0rem 6.5rem 3rem 6.5rem;

	.roomcards__top {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 3rem;
	}

	.roomcards__item {
		display: flex;
		background-color: var(--white);
		border-radius: 2rem;
		box-shadow: 0px 10px 10px 0px #00000040;
		margin-bottom: 4rem;
		overflow: hidden;

		.info__tags-item {
			background-color: var(--grey);
			padding: 0.3rem 1rem;
			border-radius: 0.3rem;
		}
	}
	.roomcards__left {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 507px;

		.roomcards__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow: hidden;
			position: relative;
			transition: transform 0.3s ease;
		}
		.roomcards__image:hover {
			transform: scale(1.02);
		}
		.roomcards__rating {
			background-color: var(--white);
			padding: 0.7rem;
			border-radius: 1.3rem;
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 0.5rem;
		}
	}
	.info {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		flex: 1;

		.info__room-size {
			display: flex;
			align-items: baseline;
			gap: 1.3rem;

			.info__users {
				display: flex;
				align-items: baseline;
				gap: 0.5rem;
			}
		}

		.info__tags {
			display: flex;
			padding-top: 1rem;
			gap: 1rem;

			.info__tags-item {
				font-size: 1rem;
			}
		}

		.info__icon-title {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.info__top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.info__sustainability {
			.info__icon-title {
				.info__icon {
					width: 2rem;
				}
			}

			p {
				padding-top: 0.4rem;
			}
		}

		.form__button {
			margin-top: 0.5rem;
			align-self: stretch;
		}
	}
}

/* ----------------------------------------------------------------*/
/* -------------------------- about.html --------------------------*/
/* ----------------------------------------------------------------*/

/* ----------------------------- HERO -----------------------------*/
.hero {
	.hero__arrow-down {
		display: none;
	}
}

/* ------------------------- USP SECTION --------------------------*/
.about-usp {
	background-color: var(--light-green);
	padding: 5rem 6.5rem;

	.about-usp__nav {
		display: flex;
		justify-content: center;

		.about-usp__menu {
			justify-content: center;
			margin: 0rem 0rem 5rem 0rem;
			padding: 1.5rem 0.6rem 1.5rem 1rem;
			gap: 3rem;
			padding-inline-start: 1.5rem;
			background-color: var(--grey);
			border-radius: 4rem;
			padding-inline-start: 3rem;

			.about-usp__link--active {
				padding: 1rem 2.5rem;
			}
		}
	}
	.about-usp__card-section {
		margin-top: 7rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;

		.about-usp__card-item {
			background-color: var(--white);
			display: flex;
			flex-direction: column;
			border: 1px solid var(--grey);
			border-radius: 1.5rem;
			text-align: left;
			overflow: hidden;

			.about-usp__card-image-container {
				display: flex;
				width: 100%;
				height: 15rem;
				overflow: hidden;
			}
			.about-usp__card-image {
				width: 100%;
				object-fit: cover;
				transition: transform 0.3s ease;
			}
			.about-usp__card-image:hover {
				transform: scale(1.02);
			}
			.about-usp__card-title {
				font-size: 1.75rem;
				margin: 3rem 0rem 2rem 1rem;
			}
			.about-usp__card-text {
				font-size: 1.25rem;
				margin: 0 1rem 3rem 1rem;
			}
		}
	}
}

/* ------------------------- MAIN - SUSTAINABILITY NUMBERS SECTION --------------------------*/

.main__numbers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	color: var(--text-white);
	p {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 4rem;
		font-weight: 400;
	}
}

/********************************************************************/
/********************** MODIFIERS - general *************************/
/********************************************************************/

.contact__item--email > a {
	font-weight: 400;
	font-size: 1rem;
	text-decoration: none;
	color: var(--text-white);
}

/********************************************************************/
/********************** MODIFIERS - index.html **********************/
/********************************************************************/

.header__link--green-bg,
.hero__link-item--green-bg,
.main-article__link-item--green-bg {
	display: inline-block;
	background-color: var(--dark-green);
	color: var(--text-white);
	border-radius: 10px;
	padding: 1.2rem 1rem;
	align-self: flex-start;
}

.main_link--grey-green-text {
	display: inline-block;
	background-color: var(
		--light-green
	); /*Valde ljusgrön bg pga kontrastvarning i Wave */
	color: var(--dark-green);
	border-radius: 10px;
	padding: 1.2rem 2rem;
	align-self: flex-start;
}

.header__link--active {
	color: #009688;
}

.hero__link-item--outlined {
	display: inline-block;
	border: 2px solid var(--white);
	color: var(--text-white);
	border-radius: 10px;
	padding: 1.2rem 1rem;
}

.main--light-green-bg {
	background-color: var(--light-green);
}

.usp-card__item--centered {
	align-items: center;
	.usp-card__text {
		text-align: center;
	}
}
.usp-card__title--green {
	color: var(--dark-green);
}

.main-article__text--text-gray {
	color: var(--text-grey);
}

.main__title--white {
	color: var(--text-white);
}

.main--gradient-bg {
	background: linear-gradient(
		to right,
		var(--gradient-green1),
		var(--gradient-green2)
	);
}

/********************************************************************/
/********************* MODIFIERS - booking.html *********************/
/********************************************************************/

.wrapper--light-green-bg {
	background-color: var(--light-green);
}

.form__input--room,
.form__input--guests {
	background-color: var(--grey);
}

.info__price--green-text {
	color: var(--dark-green);
}

.info__tags-item--purple-text {
	color: var(--accent-purple);
}

.roomcards__item--reverse {
	flex-direction: row-reverse;
}

/********************************************************************/
/********************** MODIFIERS - about.html **********************/
/********************************************************************/

.hero__img--lower {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	aspect-ratio: 1/0.45;
}

.main__text--text-large,
.about-usp__text--large {
	font-family: "Inter", sans-serif;
	text-align: center;
	padding-top: 3rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	letter-spacing: 1px;
}

.about-usp__link--active {
	background-color: var(--white);
	padding: 1.5rem 4rem;
	border-radius: 4rem;
}

.main--gradient-bg {
	.main__sub-title--less-top-padding {
		padding: 1rem 6.5rem 4rem 6.5rem;
	}

	.numbers__title {
		padding-bottom: 1rem;
	}
}

/*//////////////////////////////////////////////////////////////////*/
/*/////////////////////     MEDIA QUERIES    ///////////////////////*/
/*//////////////////////////////////////////////////////////////////*/

/* ---------------------------------------------------------------        Media Query < 1300px*/
@media (max-width: 1300px) {
	/* Menu change to burger menu */
	.header {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0rem 2rem;

		/* Pop-up nav moved to side of vw */
		.header__nav {
			background-color: var(--white);
			flex-direction: column;
			justify-content: left;
			position: absolute;
			z-index: 999;
			top: 9.2rem;
			right: 0rem;
			transform: translateX(100%);
			transition: all 0.3s ease;
			box-shadow: 0px 10px 10px 0px #00000040;

			.header__menu {
				flex-direction: column;

				.header__list-item {
					justify-content: left;
					width: 100%;
					padding: 2rem 2rem;
					border-bottom: 2px solid var(--grey);
				}

				.header__link {
					justify-content: left;
					padding: 2rem 6rem 2rem 0rem;
				}
				.header__link--green-bg {
					padding: 1rem 1rem;
				}
			}
		}

		.header__burger-btn {
			display: flex;
			background-color: var(--white);
			border-radius: 50%;
			padding: 0.6rem;
		}

		.header__burger-icon {
			display: flex;
			align-self: flex-end;
			width: 3remq;
		}

		/* Burger menu active - menu shows */
		.header__burger-checkbox:checked ~ .header__nav {
			transform: translateX(0);
			z-index: 100;
		}
		/* Burger menu active - green bg */
		.header__burger-checkbox:checked ~ .header__burger-btn {
			background-color: var(--dark-green);
			border-radius: 50%;
			padding: 0.6rem;
		}
		/* Burger menu active - inverted icon */
		.header__burger-checkbox:checked
			~ .header__burger-btn
			.header__burger-icon {
			filter: invert(1);
		}
	}

	.footer {
		padding: 5rem 2rem 10rem 2rem;

		.footer__top {
			gap: 1rem;
		}

		.footer__copywright {
			text-align: center;
			font-size: 1rem;
		}
	}

	/* ------------------------- Media queries: index.html --------------------------*/
	.main {
		text-align: center;
		padding: 4rem 4rem 5.5rem 4rem;

		.main__title {
			padding-top: 2rem;
		}

		.main__sub-title {
			padding: 2rem 2rem 3rem 2rem;
		}
	}
	.main-article {
		flex-direction: column-reverse;
		padding: 4rem;
		text-align: center;
		padding: 0;

		.main-article__left {
			padding: 0;
		}
		.main-article__left {
			padding: 1.5rem;
		}

		.main-article__img {
			width: 100%;
			aspect-ratio: 1/0.5;
			border-radius: 0;
		}
		.main-article__title {
			padding: 3rem 0 2rem 0;
		}

		.main-article__link-item--green-bg {
			align-self: center;
			margin-top: 2rem;
			margin-bottom: 4rem;
		}
		.main-article__text-block {
			padding-top: 1.5rem;
		}
	}
	.about-usp {
		padding: 5rem 4rem;
		.usp-card {
			gap: 0.5rem;
		}
	}

	/* ------------------------- Media queries: booking.html --------------------------*/
	.form {
		margin: 4rem 4rem 4rem 4rem;
		flex-wrap: wrap;

		.form__button {
			margin-top: 2rem;
		}
	}
	.roomcards {
		padding: 0rem 2rem 3rem 2rem;
		.roomcards__item {
			flex-direction: column;

			.roomcards__left {
				width: 100%;
			}
		}
	}

	/* ------------------------- Media queries: about.html --------------------------*/

	.about-usp {
		padding: 5rem 2rem;
		.about-usp__nav {
			.about-usp__menu {
				margin: 0rem 8rem 5rem 8rem;
			}
		}
		.about-usp__card-section {
			margin-top: 4rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.main {
		padding: 5rem;
	}
}
/* ---------------------------------------------------------------        Media Query < 1000px*/
@media (max-width: 1000px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	a {
		font-size: 1rem;
	}

	.wrapper {
		padding-top: 4.9rem;
	}

	.header {
		position: fixed;
		width: 100vw;
		top: 0; /* sticks to the top */
		z-index: 1000;
		padding: 0rem 1rem;
		box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);

		.header__nav {
			top: 4.5rem;

			.header__menu {
				.header__burger-icon {
					width: 10rem;
				}
			}
		}
		.header__logo {
			width: 11rem;
			padding: 1rem 0rem;
		}
	}

	.hero {
		.hero__img {
			height: 37rem;
			object-fit: cover;
			overflow: hidden;
		}
		.hero__content {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			top: 8rem;

			.hero__title,
			.hero__sub-title {
				padding: 1rem 2rem;
			}
			.hero__arrow-down {
				display: flex;
				width: 3rem;
				position: absolute;
				z-index: 20;
				top: 29rem;
				animation: move 2s ease-out infinite;
			}
			.hero__arrow-down--displaced {
				top: 22rem;
			}
		}
	}

	.main {
		padding: 2rem 1rem 3rem 1rem;

		.main__intro-text {
			font-size: 1rem;
			line-height: 1.5rem;
			letter-spacing: 0px;
			padding: 2rem 0rem 0rem 0rem;
		}

		.main__text {
			padding: 1rem 1rem;
		}

		.usp-card {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;

			.usp-card__item {
				padding: 1rem;
				gap: 1rem;
				justify-content: flex-start;
				align-items: center;
				text-align: center;
				.usp-card__icon {
					width: 40px;
					padding: 0.5rem;
				}
				.usp-card__title {
					font-size: 1.2rem;
					margin-top: 0rem;
				}
				.usp-card__sub-title {
					font-size: 1rem;
					text-align: center;
				}
				.usp-card__text {
					display: none;
				}
			}
		}
		.main__sub-title {
			padding: 2rem 0rem 2rem 0rem;
			font-size: 1.25rem;
			line-height: 1.5rem;
			letter-spacing: 0px;
		}
	}

	.main-article {
		.main-article__title {
			padding: 2rem 0 2rem 0;
			font-size: 2rem;
		}
		.main-article__text {
			font-size: 1rem;
			line-height: 1.5rem;
			letter-spacing: 0px;
		}
	}

	.footer {
		padding: 2rem 1rem 6rem 1rem;
		.footer__top {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			text-align: center;

			.footer__left {
				display: flex;
				flex-direction: column;

				.footer__logo {
					padding-top: 2rem;
					align-self: center;
					width: 160px;
				}
				.footer__payoff {
					text-align: center;
					padding-top: 2rem;
					padding-right: 0rem;
				}
			}
			.contact__title,
			.links__title {
				-webkit-appearance: none; /* förhindrar browsers default-styling på formulärfält i iphone (youtube-tips)*/
				font-size: 1.3rem;
				padding-top: 1.5rem;
				padding-bottom: 0.5rem;
			}
		}
	}

	/* ------------------------- Media queries: booking.html --------------------------*/
	.form {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 2rem 1rem 3rem 1rem;
		margin: 2rem 1rem 4rem 1rem;
		/* border-radius: 0px; */

		.form__button {
			padding: 1rem 4rem;
			align-self: center;
		}
		.form__input {
			-webkit-appearance: none; /* förhindrar browsers default-styling på formulärfält i iphone (youtube-tips)*/
			width: 100%;
		}
	}
	.roomcards {
		padding: 0rem 1rem 3rem 1rem;
		.roomcards__item {
			.roomcards__rating {
				padding: 0.3rem 0.5rem;
				position: absolute;
				right: 1rem;
				top: 1rem;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.2rem;
				.roomcards__rating-text {
					font-size: 1rem;
				}
			}
			.info {
				padding: 1rem;
			}
			.info__text {
				font-size: 0.9rem;
			}
			.info__sub-title {
				font-size: 1rem;
			}
			.info__tags {
				flex-wrap: wrap;
				padding-top: 1rem;
				gap: 0.5rem;

				.info__tags-item {
					font-size: 0.8rem;
				}
			}
		}
	}

	/* ------------------------- Media queries: about.html --------------------------*/

	.about-usp {
		padding: 1rem 1rem;
		.about-usp__nav {
			display: flex;

			.about-usp__menu {
				justify-content: space-between;
				margin: 1rem 1rem 3rem 1rem;
				gap: 1rem;
				padding-inline-start: 1.5rem;

				.about-usp__link--active {
					padding: 1rem 1rem;
				}
			}
		}

		.about-usp__card-section {
			display: flex;
			flex-direction: column;
		}
	}
	.main__numbers {
		flex-direction: column;
		text-align: center;
		.numbers__title {
			padding: 2rem 0rem 0rem 0rem;
		}
		.numbers__text {
			border-bottom: 1px solid var(--white);
			padding: 0rem 0rem 2rem 0rem;
		}
	}

	/********************************************************************/
	/**************************** MODIFIERS *****************************/
	/********************************************************************/
	.main__text--text-large,
	.about-usp__text--large {
		padding-top: 1.5rem;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: 0px;
	}
	.hero__link-item--green-bg,
	.hero__link-item--outlined {
		padding: 0.8rem 1rem;
	}
	.main--gradient-bg {
		padding: 2rem 2rem 3rem 2rem;
	}
	.info__price--green-text {
		color: var(--dark-green);
		text-align: right;
	}

	.hero__content.hero__content--centered {
		top: 14rem;
	}
}
